{% extends "tadpole-wms/tutorial.html" %}

{% block steps %}
  <div class="step">
    <h2>Pond identification</h2>
    <p><strong>Hi!</strong> This is an application to help classify ponds into different categories for <a href="http://skytruth.org">SkyTruth</a>.</p>
    <p>The application is really simple. It loads a map with aerial imagery and asks you to select what type of pond you see in the image.</p>
  </div>

  <div class="step">
    <h2>Drilling ponds</h2>
    <p>When the targeted pond resembles these examples, mark it as a <button class="btn btn-inverse btn-small">Fracking pond</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.1_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.2_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.3_cross.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>More examples of drilling ponds</h2>
    <p>When the targeted pond resembles these examples, mark it as a <button class="btn btn-inverse btn-small">Fracking pond</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.4_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.5_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Drilling.6_cross.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>Natural/Farm ponds</h2>
    <p>When the targeted pond resembles these examples, mark it as a <button class="btn btn-success btn-small">Natural pond</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Natural.Pond.1_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Natural.Pond.2_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Natural.Pond.3_cross.jpg" class="img-polaroid">
      </div>
    </div>
  </div>

  <div class="step">
    <h2>You might come across some weird stuff...</h2>
    <p>You can just mark it as <button class="btn btn-danger btn-small">Not sure which one</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Unknown.1_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/Unknown.2_cross.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>To review:</h2>
    <div class="row">
      <div class="span4">
        <p>Mark similar ponds as a <button class="btn btn-inverse btn-small">Fracking pond</button></p>
        <img src="/app/{{short_name}}/static/img/examples/Drilling.1_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <p>Mark similar ponds as <button class="btn btn-inverse btn-small">Fracking pond</button> to</p>
        <img src="/app/{{short_name}}/static/img/examples/Drilling.3_cross.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <p>Mark similar ponds as a <button class="btn btn-success btn-small">Natural pond</button></p>
        <img src="/app/{{short_name}}/static/img/examples/Natural.Pond.1_cross.jpg" class="img-polaroid">
      </div>
    </div>
  </div>

  <div class="step">
    <h2>How to select pond type</h2>
    <p>Click on the buttons in the bottom right of the image corresponding to what you see in the image. You can zoom and pan the map to see more details.</p>
    <img src="/app/{{short_name}}/static/img/screenshot.jpg" class="img-polaroid">
  </div>
{% endblock %}

{% block testrun_description %}
  <h2>Test run</h2>
  <p>Please try to categorize any ponds you see below. <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "tadpole-wms-pondmapper/row.html" %}
{% endblock %}

{% block tasks %}
  {"url":"https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/","longitude":-76.937213648092,"county":"Tioga","state":"PA","year":"2010","latitude":41.889000490352,"options":{"layers":"06136759344167181854-16779344390631852423-4","version":"1.3.0"},"size":200, "answer": "fracking"},
  {"url":"https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/","longitude":-77.580555248041,"county":"Tioga","state":"PA","year":"2010","latitude":41.680526254615,"options":{"layers":"06136759344167181854-16779344390631852423-4","version":"1.3.0"},"size":200, "answer": "fracking"},
  {"url":"https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/","longitude":-77.216056529367,"county":"Tioga","state":"PA","year":"2010","latitude":41.788525212312,"options":{"layers":"06136759344167181854-16779344390631852423-4","version":"1.3.0"},"size":200, "answer": "fracking"},
  {"url": "https://mapsengine.google.com/06136759344167181854-00219351362547715467-4/wms/","longitude":-76.328018488026,"county":"Columbia","state":"PA","year":"2008","latitude":41.283599743255,"options":{"layers":"06136759344167181854-01260649250125878906-4","version":"1.3.0"},"size":200, "answer": "other"} 
{% endblock %}
