<div class="row">
    <div class="span6 offset2">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong>Well done!</strong> Your answer has been saved
        </div>
        <div id="loading" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            Loading next task...
        </div>
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong>The task has been completed!</strong> Thanks a lot!
        </div>
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> You have participated in all available tasks!
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/app">or, Check other applications</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
    </div>
</div>

<div class="skeleton">
  {% include "frackfinder/row.html" %}
</div>

<div class="row all-done">
  <div class="span12">
    <h2>Congratulations! You've completed all of our tasks!</h2>
    Thank you for participating in our crowdcrafting effort! To find out more about us and our work please visit <a href="http://skytruth.org">our homepage</a>.
  </div>
</div>


<style>
  .all-done {
    display: none;
  }
  .answer-buttons .btn {
    margin-bottom: 2pt;
    width: 120pt;
    text-align: left;
  }
  .image {
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;
  }
</style>


<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>


<script>
  $(document).ready(function () {
    {% include "frackfinder/maphandler.js" %}

    function loadUserProgress() {
      pybossa.userProgress('{{short_name}}').done(setProgress);
    }

    pybossa.taskLoaded(function(task, deferred) {
      deferred.resolve(task);
    });

    var currentTask;
    var currentDeferred;

    pybossa.presentTask(function(task, deferred) {
      if ( !$.isEmptyObject(task) ) {
        $('#task-id').html(task.id);
        loadUserProgress();
        updateMap(task.info);

        currentTask = task;
        currentDeferred = deferred;
        $("#loading").hide();
      } else {
        $(".all-done").show();
        $(".skeleton").hide();
        $("#loading").hide();
        $("#finish").fadeIn(500);
      }
    });

    var resultFn = function(evt) {
      console.log(["TASK", currentTask.id, evt.target.value, evt])
      pybossa.saveTask(currentTask.id, {"type": evt.target.value}).done(function() {
        currentDeferred.resolve();
      });

      $("#loading").fadeIn(500);
      if ($("#disqus_thread").is(":visible")) {
        $('#disqus_thread').toggle();
        $('.btn-disqus').toggle();
      }
    };

    $('.btn-answer').on('click', resultFn);
    $('.input-answer').on('keypress', function(evt) {
      if (evt.which == 13) {
        resultFn(evt);
        evt.target.value = '';
      }
    });

    loadMap();
globalmap = map;
    pybossa.run('{{short_name}}');
  });
</script>
