<div class="row">
    <div class="span6 offset2">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong>Well done!</strong> Your answer has been saved
        </div>
        <div id="loading" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            Loading next task...
        </div>
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong>The task has been completed!</strong> Thanks a lot!
        </div>
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> You have participated in all available tasks!
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/app">or, Check other applications</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
    </div>
</div>

<div class="skeleton">
  <div class="span2 pull-right">
      <a class="btn btn-primary btn-large" href="/app/{{short_name}}/tutorial"><i class="icon-question-sign"></i> Tutorial</a>
  </div>     
    {% include "frackfinder/row.html" %}

</div>

<div class="row lots-done">
  <div class="span12">
    <h1><i class="icon-thumbs-up"></i>You're awesome!</h1>
    
    <h3>You've done <span class="tasksdone"></span> identifications so far! Keep up the good work!</h3>
   
    <button class="continue btn btn-success">Continue</button>
  </div>
</div>

<div class="row all-done">
  <div class="span12">
    <h1><i class="icon-thumbs-up"></i>Good Job! You finished them all!</h1>
    
    <p>We thank you for your contribution. We'll be tabulating your results shortly and adding them to our ever-growing database of Marcellus drilling and fracking activity.</p>
   
  </div>
    
    <div class="span6">
	 <h1><i class="icon-question-sign"></i>So What Next?</h1>
	    <h2><i class="icon-ok"></i> That was Fun!  I Want Some More!</h2>
	    <p>We've got lots more where that came from, so more images will be available soon! While you're waiting, please drop into our volunteer discussion group and let us know how we're doing </p>
	    <p><a class="btn btn-primary" href="https://www.facebook.com/groups/skytruthvolunteers/">Join the Discussion</a> or email us at <a href="crowd@skytruth.org"> crowd@skytruth.org</a></p>
	    
	    <h2><i class="icon-ok"></i>You guys are great!  How can I support your work?</h2>
	    
	 	   	<p><a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u=http://frack.skytruth.org/frackfinder">Tell Your Friends</a></p>
	    	<p><a class="btn btn-primary" href="https://www.facebook.com/SkyTruth">Follow us on Facebook</a></p>
	    	<p><a class="btn btn-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XR2DZY85VFDFU">Donate</a></p> <p> SkyTruth is a 501c3 non-profit, supported by generous contributions from people like you.  All the data we collect from this project will be published on the internet and given away free of charge.  But computers and wesbites and people cost money, so we rely on your support to keep doing what we're doing.</p>
	    	
   	

	</div>
	<div class="span6">    
		<p><a href="http://www.skytruth.org/" target="_blank"><img src="https://s3.amazonaws.com/FrackFinder/skytruth_logo.png"></a></p>
	
	    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:268px; height:184px;" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fskytruth&amp;width=268&amp;height=184&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false"></iframe>
	    
<form method="post" action="https://www.paypal.com/cgi-bin/webscr">
    <input type="hidden" value="_s-xclick" name="cmd">
    <input type="hidden" value="XR2DZY85VFDFU" name="hosted_button_id">
    <input type="image" border="0" alt="Donate securely using PayPal" name="submit" src="http://skytruth.org/wordpress/wp-content/uploads/2013/01/paypal2.jpg">
    <img width="1" height="1" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="">
</form>	 

<div class="socialmedia-buttons"> 

<a href="http://www.facebook.com/SkyTruth" rel="nofollow" target="_blank"> <img src="http://skytruth.org/wordpress/wp-content/uploads/2012/05/facebook-1.png" alt="Follow Us! on Facebook" title="Follow Us! on Facebook" style="opacity: 0.8;" class="fade"></a> 

<a href="http://twitter.com/#!/skytruth" rel="nofollow" target="_blank"><img src="http://skytruth.org/wordpress/wp-content/uploads/2012/05/twitter-1.png" alt="Follow Us! on Twitter" title="Follow Us! on Twitter" style="opacity: 0.8;" class="fade"></a>

<a href="http://blog.skytruth.org/" rel="nofollow" target="_blank"><img src="http://skytruth.org/wordpress/wp-content/uploads/2012/05/blogger.png" alt="SkyTruth Blog" title="SkyTruth Blog" style="opacity: 0.8;" class="fade"></a>

<a href="http://www.flickr.com/photos/skytruth" rel="nofollow" target="_blank"><img src="http://skytruth.org/wordpress/wp-content/uploads/2012/05/flickr.png" alt="Follow Us! via RSS" title="SkyTruth on Flickr" style="opacity: 0.8;" class="fade"></a>

<a href="http://skytruth.us2.list-manage.com/subscribe?u=e8a012de013399ca3907e3133&amp;id=0685be1cad" rel="nofollow" target="_blank"><img src="http://skytruth.org/wordpress/wp-content/uploads/2012/07/subscribe_icon.png" alt="Sign Up for the SkyTruth Newsletter" title="Sign Up for the SkyTruth Newsletter" style="opacity: 0.8;" class="fade"></a>

</div>
	    
    </div>

</div>


<style>
  .lots-done,
  .all-done {
    display: none;
  }
  .answer-buttons .btn {
    margin-bottom: 2pt;
    width: 120pt;
    text-align: left;
  }
  .image {
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;
  	position:absolute;
  	z-index:0;
  }
  .imgoverlay {
  	position:absolute;
  	z-index:1;
  }
  
</style>


<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>


<script>
  $(document).ready(function () {
    {% include "frackfinder/maphandler.js" %}

    function loadUserProgress() {
      pybossa.userProgress('{{short_name}}').done(setProgress);
    }

    pybossa.taskLoaded(function(task, deferred) {
      deferred.resolve(task);
    });

    var currentTask;
    var currentDeferred;

    pybossa.presentTask(function(task, deferred) {
      if ( !$.isEmptyObject(task) ) {
        $('#task-id').html(task.id);
        loadUserProgress();
        updateMap(task.info);

        currentTask = task;
        currentDeferred = deferred;
        $("#loading").hide();
      } else {
        $(".all-done").show();
        $(".skeleton").hide();
        $("#loading").hide();
/*        $("#finish").fadeIn(500); */
      }
    });

    var continueFn;

    $(".lots-done .continue").click(function (evt) { continueFn(evt); });

    var resultFn = function(evt) {
      console.log(["TASK", currentTask.id, evt.target.value, evt])
      pybossa.saveTask(currentTask.id, {"type": evt.target.value}).done(function() {

/*        var tasksdone = parseInt($.cookie('{{short_name}}_tasks_done') || 0);
        tasksdone += 1;
        $.cookie('{{short_name}}_tasks_done', tasksdone);
*/
		var tasksdone = progress_done + 1;
/*		if (0 == tasksdone % 50) {
	        $(".lots-done .tasksdone").html(tasksdone);
    	    continueFn = function (evt) { $(".lots-done").hide(); $(".skeleton").show(); currentDeferred.resolve(); };
			$(".lots-done").show();
	        $(".skeleton").hide();
		}
		else */
			currentDeferred.resolve();
      });

      /*$("#loading").fadeIn(500);*/
      if ($("#disqus_thread").is(":visible")) {
        $('#disqus_thread').toggle();
        $('.btn-disqus').toggle();
      }
    };

    $('.btn-answer').on('click', resultFn);
    $('.input-answer').on('keypress', function(evt) {
      if (evt.which == 13) {
        resultFn(evt);
        evt.target.value = '';
      }
    });


    loadMap();
globalmap = map;
    pybossa.run('{{short_name}}');
  });
</script>
