<div class="row">
  <div class="span12">
    <div id="0" class="step" style="display:none">
      <h2>Drill pad identification</h2>
      <p><strong>Hi!</strong> This is an application to help classify drill pads into different categories for <a href="http://skytruth.org">SkyTruth</a>.</p>
      <p>The application is really simple. It loads aerial photography and asks you to categorize what you see in the image.</p>
    </div>

    <div id="1" class="step" style="display:none">
      <p>This is a site where drilling equipment is present, indicating that drilling was taking place at the time the photograph was taken.</p>
      <p>For an image like this, please indicate that there is <button class="btn btn-inverse">Pad with equipment</button> present.</p>

      <div class="row">
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/well+pads+w_equipment/2010tioga_spudbuffer11.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/well+pads+w_equipment/2010tioga_spudbuffer34.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/well+pads+w_equipment/2010tioga_spudbuffer40.png" class="img-polaroid">
        </div>
      </div>
    </div>

    <div id="2" class="step" style="display:none">
      <p>This is a site where a well pad has been prepared for drilling, but there was no drilling equipment on site at the time the photograph was taken.</p>
      <p>For an image like this, please indicate that there is a <button class="btn btn-success">Bare pad</button>.</p>

      <div class="row">
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/empty+well+pads/2010tioga_spudbuffer16.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/empty+well+pads/2010tioga_spudbuffer21.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/empty+well+pads/2010tioga_spudbuffer44.png" class="img-polaroid">
        </div>
      </div>
    </div>

    <div id="3" class="step" style="display:none">
      <p>This is a site where a drilling permit has been issued but no preperation for drilling has taken place at the time the photograph was taken.</p>
      <p>For an image like this, please indicate that there is <button class="btn btn-danger ">No pad visible</button>.</p>

      <div class="row">
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/no+pad+visible/2010tioga_spudbuffer136.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/no+pad+visible/2010tioga_spudbuffer139.png" class="img-polaroid">
        </div>
        <div class="span4">
          <img src="https://s3-us-west-2.amazonaws.com/drillpadcat/data/well+pad+examples/no+pad+visible/2010tioga_spudbuffer142.png" class="img-polaroid">
        </div>
      </div>
    </div>

    <div id="4" class="step" style="display:none">
      <h2>Practice run</h2>
      <p>Plase select the category that corresponds to the drillpad in the center of the image.</p>

      {% include "drillpadcatimg/row.html" %}

      <span id="maperrors"></span>
    </div>

    <div id="5" class="step" style="display:none">
      <h2>On your mark, get set, go!</h2>
      Great! You are now ready to begin helping out!
    </div>

    <div class="navigation">
      <a id="prevBtn" href="#" onclick="showStep('prev')" class="btn">Previous</a>
      <a id="nextBtn" href="#" onclick="showStep('next')" class="btn btn-success">Next</a>
      <a id="startContrib" href="../drillpadcatimg/newtask" class="btn btn-primary" style="display:none"><i class="icon-thumbs-up"></i> Start helping out</a>
    </div>
  </div>
</div>

<style>
  .navigation {
   margin-top: 10px;
  }
  #maperrors {
    color: #ff0000;
    font-weight: bold;
  }
  #start {
    display: none;
  }

  .item {
    margin-top: 4pt;
    margin-bottom: 4pt;
  }
  .progress {
    width: 50px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  #center {
    display: table;
    width: 100%
  }
  #centerinner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  #mapborder {
    border: 2px solid #999999;
    display: inline-block;
    padding: 5pt;
    margin: 20pt;
  }

</style>


<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

<script>
  {% include "drillpadcatimg/maphandler.js" %}

  testrunstep = 4;
  laststep = 5;

  testruns = [
    {"url":"https://s3-us-west-2.amazonaws.com/drillpadcat/data/Tioga/images_Tioga_2010SPUDS/2010tioga_spudbuffer73.png", "answer":"nopad", "latitude": 47.11, "longitude": 13.00, "date": "2013"},
    {"url":"https://s3-us-west-2.amazonaws.com/drillpadcat/data/Tioga/images_Tioga_2010SPUDS/2010tioga_spudbuffer41.png", "answer":"empty", "latitude": 47.12, "longitude": 14.00, "date": "2013"},
    {"url":"https://s3-us-west-2.amazonaws.com/drillpadcat/data/Tioga/images_Tioga_2010SPUDS/2010tioga_spudbuffer30.png", "answer":"equipment", "latitude": 47.13, "longitude": 15.00, "date": "2013"},
  ];

  initializedSteps = {};
  function initializeStep(step) {
    if (initializedSteps[step] == undefined) {
      if (step == testrunstep) {
        initializedSteps[step] = {task:0};

        loadMap();
        setProgress({total: testruns.length, done:0});
        updateMap(testruns[0]);
      } else {
        initializedSteps[step] = true;
      }
    }
  }

  function validateStep() {
    var errs = [];
    if (step == testrunstep) {
      if (initializedSteps[testrunstep].task < testruns.length) {
        errs.push("This should not happen. Where did you click?");
      }
    }
    $("#maperrors").html(errs.join(""));
    return errs.length == 0;
  }


  var step = -1;
  function showStep(action) {
    if (action == 'next' && !validateStep()) return;

    $("#" + step).hide();

    if (action == 'next') {
      step = step + 1;
    }
    if (action == 'prev') {
      step = step - 1;
    }

    $("#prevBtn").toggle(step != 0);
    $("#nextBtn").toggle(step != testrunstep && step != laststep);
    $("#startContrib").toggle(step == laststep);
    $("#" + step).show();
    initializeStep(step);
  }


  $(document).ready(function () {
    showStep('next');
    $("#modal").modal('show');

    $(".btn-answer").click(function (e) {
      if (testruns[initializedSteps[testrunstep].task].answer == e.target.value) {
        initializedSteps[testrunstep].task++;
        if (initializedSteps[testrunstep].task < testruns.length) {
          setProgress({total: testruns.length, done:initializedSteps[testrunstep].task});
          updateMap(testruns[initializedSteps[testrunstep].task]);
        } else {
          showStep('next');
          initializedSteps[testrunstep].task = 0;
          setProgress({total: testruns.length, done:initializedSteps[testrunstep].task});
          updateMap(testruns[initializedSteps[testrunstep].task]);
        } 
      } else {
        alert("Sorry, that's not what's show in this picture :( Please try again!");
      }
    });
    $('.input-answer').on('keypress', function(evt) {
      if (evt.which == 13) {
        alert("In this prectice round, all tasks should fall neatly into one of the categories. Nice try though :)");
        evt.target.value = '';
      }
    });
  });
</script>
