{% extends "base-openlayers/row.html" %}

{% block buttons %}
  <button class="btn btn-success btn-answer" value="done"><i class="icon icon-white icon-play"></i> Done</button>
  <button class="btn btn-danger btn-cancel"><i class="icon icon-white icon-undo"></i> Oups, scratch that</button>
  <button class="btn btn-inverse btn-answer" value="skip"><i class="icon icon-white icon-forward"></i> Skip this pad</button>

  <button class="btn btn-inverse btn-answer" value="notapond"><i class="icon icon-white icon-forward"></i> Not a pond</button>

  {{block.super}}
{% endblock %}
