{% extends "base-openlayers/row.html" %}

{% block buttons %}
  <div class="btn-group" role="group">
    <button class="btn btn-default btn-undo"><i class="icon icon-white icon-undo"></i> Undo</button>
    <button class="btn btn-danger btn-cancel">all</button>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-inverse btn-answer" value="notapond"><i class="icon icon-white icon-forward"></i> Not a pond</button>
    <button class="btn btn-info btn-answer" value="unknown"><i class="icon icon-white icon-forward"></i> Don't know</button>
  </div>

  <button class="btn btn-success btn-answer" value="done"><i class="icon icon-white icon-play"></i> Submit</button>

  {{block.super}}
{% endblock %}
