{% extends "base-openlayers/template.html" %}

{% block row %}
  {% include "ranaarvalis/row.html" %}
{% endblock %}

{% block page_libraries %}
  {{block.super}}
  <script>
    {% include "ranaarvalis/maphandler.js" %}
  </script>
{% endblock %}

{% block lots-done %}
  <div class="span12">
    <h1><i class="icon-thumbs-up"></i><span class="progressmsg">You're awesome!</span></h1>
    <h3>You've done <span class="done-tasks-display">0</span> tasks and marked <span class="done-positions-display">0</span> places so far! Keep up the good work!</h3>
    <button class="continue btn btn-success">Continue</button>
  </div>
{% endblock %}

{% block all-done-header %}
  <div class="row">
    <div class="span12">
      <h1><i class="icon-thumbs-up"></i>Thank you! You analyzed <span class="done-tasks-display">0</span> sites and marked <span class="done-positions-display">0</span> positions.</h1>

      <p><h2>Please come back again to do more <a target="_blank" href="http://skytruth.org/issues/skytruthing/">skytruthing</a>. To learn more and share this project with your friends, visit the project homepage:</h2></p>

      <p><h2><a target="_blank" href="http://frack.skytruth.org/frackfinder">http://frack.skytruth.org/frackfinder</a> </h2></p>	  

    </div>
  </div>
{% endblock %}

{% block done-for-now-header %}
  <div class="row">
    <div class="span12">
      <h1><i class="icon-thumbs-up"></i>Thank you! You analyzed <span class="done-tasks-display">0</span> sites and marked <span class="done-positions-display">0</span> positions.</h1>

      <p><h2>Please come back again to do more <a target="_blank" href="http://skytruth.org/issues/skytruthing/">skytruthing</a>. To learn more and share this project with your friends, visit the project homepage:</h2></p>

      <p><h2><a target="_blank" href="http://frack.skytruth.org/frackfinder">http://frack.skytruth.org/frackfinder</a> </h2></p>	  

    </div>
  </div>
{% endblock %}
