<div class="row">
    <div class="span6 offset2">
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a>
            <strong>Well done!</strong> Your answer has been saved
        </div>
        <div id="loading" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            Loading next task...
        </div>
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong>The task has been completed!</strong> Thanks a lot!
        </div>
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> You have participated in all available tasks!
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/app">or, Check other applications</a>
            </div>
        </div>
        <div id="error" class="alert alert-error" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
    </div>
</div>

<div class="row skeleton">
   <div id="map"></div>

   {% include "ranaarvalis/taskmanager.html" %}
</div>


<style>
  @media (max-width: 979px) {
    #map {
      top: 50px !important;
    }
  }
  .navbar {
    z-index: 3;
    position: absolute;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0;
  }
  body {
    padding: 0;
  }
  footer, html {
    background: white;
  }
  footer {
    display: none;
  }
  .alert-messages {
    position: absolute;
    z-index: 2;
    left: 80px;
    right: 80px;
    top: 140px;
  }
  .container {
    width: 100%;
  }
  .container h1 {
    display: none;
  }
  .container .row {
    margin-left: 0pt;
    margin-right: 0pt;
  }
  .taskmanager {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    font-weight: bold;
    padding-left: 5pt;
    padding-top: 5pt;
    padding-right: 20pt;
    padding-bottom: 5pt;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
  }
  .progress {
    width: 50px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  #map {
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 81px;
  }
  .expander-control {
    position: fixed;
    font-weight: bold;
    color: #3d5b7f;
    right: 5pt;
    font-size: 10pt;
  }
</style>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>


<script>
  app = {};

  {% include "ranaarvalis/maphandler.js" %}

  $(document).ready(function () {
    function loadUserProgress() {
      pybossa.userProgress('{{short_name}}').done(setProgress);
    }

    pybossa.taskLoaded(function(task, deferred) {
      deferred.resolve(task);
    });

    pybossa.presentTask(function(task, deferred) {
      app.task = task;
      app.deferred = deferred;
      if ( !$.isEmptyObject(task) ) {
        $('#task-id').html(task.id);
        loadUserProgress();
        updateMap(task.info);

        $('.btn-answer').on('click', function(evt) {

          pybossa.saveTask(task.id, {"positions": getMapPositions()}).done(function() {
            deferred.resolve();
          });

          $("#loading").fadeIn(500);
        });
        $("#loading").hide();
      } else {
        $(".skeleton").hide();
        $("#loading").hide();
        $("#finish").fadeIn(500);
      }
    });

    loadMap();
    app.map = map;
    pybossa.run('{{short_name}}');
  });
</script>
