{% extends "base-openlayers/tutorial.html" %}

{% block testrun_description %}
  <h2>Test run</h2>
  <p>Please try to mark objects you see below. <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "ranaarvalis/row.html" %}
{% endblock %}

{% block page_libraries %}
  {{block.super}}
  <script>
    {% include "ranaarvalis/maphandler.js" %}

    CricketFrogTutorialPage = Page = function () {
      BaseTutorialPage.apply(this, arguments);
    };
    Page.prototype = new BaseTutorialPage();
    Page.prototype.validateMapStep = function() {
      var page = this;

      var info = page.app.info;
      var positions = page.app.getAnswer().positions;
      if (positions.length != info.positions.length) {
        page.errs.push("<div>You have marked " + positions.length.toString() + " while there are " + info.positions.length.toString() + " ponds in reality.</div>");
      }
      allFound = true;
      positions.map(function (pos) {
        found = false;
        info.positions.map(function (taskpos) {
          if (OpenLayers.Util.distVincenty(pos, taskpos) < info.distance / 1000.0) {
            found = true;
          }
        });
        if (!found) {
          allFound = false;
        }
      });
      if (!allFound) page.errs.push("<div>Your markers are too far off from the ponds.</div>")

      if (page.errs.length == 0 && page.initializedSteps[page.step].task < page.initializedSteps[page.step].tasks.length - 1) {
         page.initializedSteps[page.step].task++;
        page.setMapTask();
        page.stayOnStep = true;
      } else {
        page.app.clearData();
      }
    }
  </script>
{% endblock %}

