{% extends "base-openlayers/tutorial.html" %}

{% block testrun_description %}
  <h2>Test run</h2>
  <p>Please try to mark objects you see below. <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "ranaarvalis/row.html" %}
{% endblock %}

{% block js-templates %}
  {{block.super}}
  {% block nr-of-positions-marked %}
    <div class="no-positions-marked">
      You have marked no positions,
      but this example has <span class="example-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>.
    </div>
    <div class="too-few-positions-marked">
      You have only marked <span class="marked-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>,
      but this example has <span class="example-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>.
    </div>
    <div class="too-many-positions-marked">
      You have marked <span class="marked-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>,
      but this example only has <span class="example-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>.
    </div>
    <div class="no-positions-existing">
      You have marked <span class="marked-positions"><span class="nr"></span> <span class="singular">position</span><span class="plural">positions</span></span>,
      but this example has no positions.
    </div>
  {% endblock %}
{% endblock %}

{% block page_libraries %}
  {{block.super}}
  <script>
    {% include "ranaarvalis/maphandler.js" %}

    CricketFrogTutorialPage = Page = function () {
      BaseTutorialPage.apply(this, arguments);
    };
    Page.prototype = new BaseTutorialPage();
    Page.prototype.validateMapStep = function() {
      var page = this;

      var info = page.app.task.info;
      var positions = page.app.getAnswer().positions;
      if (positions.length != info.positions.length) {
        var template;
        if (positions.length < info.positions.length) {
          if (positions.length == 0) template = $(".js-templates .no-positions-marked");
          else template = $(".js-templates .too-few-positions-marked");
        } else if (positions.length > info.positions.length) {
          if (info.positions.length == 0) template = $(".js-templates .no-positions-existing");
          else template = $(".js-templates .too-many-positions-marked");
        }
        template = template.clone();
        
        template.find(".marked-positions .nr").html(positions.length.toString());
        template.find(".marked-positions .singular").toggle(positions.length == 1);
        template.find(".marked-positions .plural").toggle(positions.length != 1);

        template.find(".example-positions .nr").html(info.positions.length.toString());
        template.find(".example-positions .singular").toggle(info.positions.length == 1);
        template.find(".example-positions .plural").toggle(info.positions.length != 1);

        page.errs.push(template);
      }
      allFound = true;
      positions.map(function (pos) {
        found = false;
        info.positions.map(function (taskpos) {
          if (OpenLayers.Util.distVincenty(pos, taskpos) < info.distance / 1000.0) {
            found = true;
          }
        });
        if (!found) {
          allFound = false;
        }
      });
      // Don't show this if we have no positions, as a mark can't be too far off from nothing...
      if (!allFound && info.positions.length > 0) page.errs.push("<div>Your markers are too far off from the ponds.</div>")

      if (page.errs.length == 0 && page.initializedSteps[page.step].task < page.initializedSteps[page.step].tasks.length - 1) {
         page.initializedSteps[page.step].task++;
        page.setMapTask();
        page.stayOnStep = true;
      } else {
        page.app.clearData();
      }
    }
  </script>
{% endblock %}

