<div class="pybossa-badges"></div>
<div class="mapcontainer">
  <div id="map"></div>

  <div class="taskmanager expander-container">
    <a class="expander-control" href="javascript: void(0);"><i class="icon-minus-sign"></i></a>

    {% block pre-buttons %}
      <a href="/app/{{short_name}}/tutorial" target="_blank" class="btn btn-warning">Tutorial</a>
    {% endblock %}

    {% block taskinfo %}
    <!-- Task <span id="task-id" class="label">#</span> -->
    Progress: 
    <div id="progress" class="progress progress-striped">
      <div rel="tooltip" title="#" class="bar" style="width: 0%;"></div><span class="progress-label"></span>
    </div>
    <span id="done" class="label"></span> of <span id="total" class="label"></span>
    {% endblock %}

    {% block buttons %}
      <!-- span id="disqus_show_btn">
        <button class="btn btn-disqus" onclick="loadDisqus()"><i class="icon-comments"></i> Show comments</button>
        <button class="btn btn-disqus" onclick="loadDisqus()" style="display:none"><i class="icon-comments"></i> Hide comments</button>
      </span -->
    {% endblock %}

    <img class="loading" src="/app/{{short_name}}/static/img/Ajax-loader.gif">

    <span class="expander-body">
      {% block expander %}
        <div>
          <div><strong><span id="site_county"></span> County, <span id="site_state"></span> <span id="site_year"></span></strong></div>
          <div><b>Lat:</b> <span id="site_lat"></span>, <b>Long:</b> <span id="site_lon"></span></div>

          <div><a class="latlonlink" href="" target="_blank">See this site in google maps</a></div>

          <br />
          <div class="row-fluid">
            <div class="span5">
              <div>About us:</div>
              <a href="http://skytruth.org/issues/skytruthing/" target="_blank"><img src="/app/{{short_name}}/static/img/logo.skytruth.jpg"></a>
            </div>
            <div class="span7">
              <div>Contact us:</div>
              <a href="mailto:crowd@skytruth.org">crowd@skytruth.org</a>
            </div>
          </div>
          <br />
          <div class="row-fluid">
            <div class="span7">
              <a href="javascript: void(0);" class="btn btn-info done-for-now-btn">Done for now...</a>
            </div>
          </div>
        </div>
      {% endblock %}
    </span>
  </div>
</div>
