{% extends "base-openlayers/base.html" %}

{% block js-templates %}
  {{ block.super }}
  <div class="atta-boy-messages">
    {% block atta-boy-messages %}
      {% include "base-openlayers/atta-boy.html" %}
    {% endblock %}
  </div>
{% endblock %}

{% block body %}
  <div class="row">
      <div class="span6 offset2">
          <div id="success" class="alert alert-success" style="display:none;">
              <a class="close">×</a>
              <strong>Well done!</strong> Your answer has been saved
          </div>
          <div id="loading" class="alert alert-info" style="display:none;">
              <a class="close">×</a>
              Loading next task...
          </div>
          <div id="taskcompleted" class="alert alert-info" style="display:none;">
              <strong>The task has been completed!</strong> Thanks a lot!
          </div>
          <div id="error" class="alert alert-error" style="display:none;">
              <a class="close">×</a>
              <strong>Error!</strong> Something went wrong, please contact the site administrators
          </div>
      </div>
  </div>

  <div class="row skeleton">
    {% block row %}
      {% include "base-openlayers/row.html" %}
    {% endblock %}
  </div>


  <div class="row-fluid lots-done alert">
    {% block lots-done %}
      <div class="span12">
        <h1><i class="icon-thumbs-up"></i><span class="progressmsg">You're awesome!</span></h1>
        <h3>You've done <span class="done-tasks-display">0</span> tasks so far! Keep up the good work!</h3>
        <button class="continue btn btn-success">Continue</button>
      </div>
    {% endblock %}
  </div>

  <div class="all-done">
    {% block all-done %}
      {% block all-done-header %}
        <div class="row">
          <div class="span12">
            <h1><i class="icon-thumbs-up"></i>Good Job! You finished them all!</h1>

            <p>You did <span class="done-tasks-display">0</span> tasks!

            <p>Please come back again to do more <a target="_blank" href="http://skytruth.org/issues/skytruthing/">skytruthing</a>. To learn more and share this project with your friends, visit the project homepage:</p>

            <p> <a target="_blank" href="http://frack.skytruth.org/frackfinder">http://frack.skytruth.org/frackfinder</a></p>
          </div>
        </div>
      {% endblock %}

      {% block all-done-next-tasks %}
        {% include "base-openlayers/next-tasks.html" %}
      {% endblock %}
    {% endblock %}
  </div>


  <div class="done-for-now">
    {% block done-for-now %}
      {% block done-for-now-header %}
        <div class="row">
          <div class="span12">
            <h1><i class="icon-thumbs-up"></i>Thank you for your contribution!</h1>

            <p>You did <span class="done-tasks-display">0</span> tasks!

            <p>Please come back again to do more <a target="_blank" href="http://skytruth.org/issues/skytruthing/">skytruthing</a>. To learn more and share this project with your friends, visit the project homepage:</p>

            <p><a target="_blank" href="http://frack.skytruth.org/frackfinder">http://frack.skytruth.org/frackfinder</a></p>
          </div>
        </div>
      {% endblock %}

      {% block done-for-now-next-tasks %}
        {% include "base-openlayers/next-tasks.html" %}
      {% endblock %}
    {% endblock %}
  </div>
{% endblock%}

{% block page_styles %}
  .lots-done,
  .all-done,
  .done-for-now {
    display: none;
  }
  @media (max-width: 979px) {
    #map, .all-done, .done-for-now {
      top: 50px !important;
    }
  }
  .navbar {
    z-index: 3;
    position: absolute;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0;
  }
  body {
    padding: 0;
  }
  footer, html {
    background: white;
  }
  footer {
    display: none;
  }
  .alert-messages .alert, .lots-done {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    height: 400px;
    width: 400px;
    margin-left: -200px;
    margin-top: -200px;
    font-size: 14pt;
    line-height: 1.5em;
  }
  @media (max-width: 510px) {
    .alert-messages .alert, .lots-done {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      width: auto;
      height: auto;
    }
  }
  .alert-messages .alert .btn, .lots-done .btn {
    display: block;
    margin-top: 10pt;
    float: right;
  }
  .container {
    width: 100%;
  }
  .container h1 {
    display: none;
  }
  .lots-done h1, .all-done h1, .done-for-now h1 {
    display: block;
  }
  .container .row {
    margin-left: 0pt;
    margin-right: 0pt;
  }
  .taskmanager {
    position: fixed;
  }
  #map, .all-done, .done-for-now {
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 81px;
  }
{% endblock %}

{% block page_libraries %}
  <script>
    BaseTemplatePage = Page = function () {
      GenericPage.apply(this, arguments);
    };

    Page.prototype.attaGirlInterval = 50;

    Page.prototype.init = function () {
      GenericPage.prototype.init.apply(this, arguments);
      var page = this;

      pybossa.taskLoaded(function(task, deferred) {
        return page.taskLoaded(task, deferred);
      });

      pybossa.presentTask(function(task, deferred) {
        return page.presentTask(task, deferred);
      });

      page.app.loadMap();
      pybossa.run('{{short_name}}');

      $(".done-for-now-btn").click(function (evt) { page.doneForNow(evt); });
      $(".lots-done .continue").click(function (evt) { page.lotsDoneContinue(evt); });

      $(".alert-messages .alert a:not(.close)").addClass("btn btn-success");

      return page;
    };
    Page.prototype.getAttaGirl = function(progress) {
      var page = this;
      var messages = $(".atta-boy-messages > div")
      $(".progressmsg").html($(messages[Math.floor((progress) / page.attaGirlInterval) % messages.length]).html());
      if (page.attaGirlInterval && (page.attaGirlInterval - 1 <= progress % page.attaGirlInterval)) {
        $(".lots-done").show();
      }
    };
    Page.prototype.doneForNow = function(evt) {
      $(".done-for-now").show();
      $(".skeleton").hide();
    };
    Page.prototype.lotsDoneContinue = function(evt) {
      $(".lots-done").hide();
    };
    Page.prototype.taskLoaded = function(task, deferred) {
      deferred.resolve(task);
    };
    Page.prototype.getData = function() {
      return JSON.parse($.cookie('{{short_name}}_data')) || {done: {}, timings: {}, times: {}};
    };
    Page.prototype.setData = function(data) {
      $.cookie('{{short_name}}_data', JSON.stringify(data));
    };
    Page.prototype.loadUserProgress = function() {
      var page = this;
      pybossa.userProgress('{{short_name}}').done(function (data) {
        var data = page.getData();
        for (key in data.done) {
           $(".done-" + key + "-display").html(data.done[key]);
        }
        page.getAttaGirl(parseInt(data.done || 0));
        return page.app.setProgress(data);
      });
    };
    Page.prototype.reportAnswer = function () {
      var page = this;

      var answer = page.app.getAnswer();
      var answerdone = answer.done || {};
      answerdone.tasks = 1;
      var data = page.getData();
      for (key in answerdone) {
         if (data.done[key] == undefined) data.done[key] = 0;
         data.done[key] += answerdone[key];
      }
      var now = (new Date).getTime();
      for (key in data.times) {
        data.timings[key] = now - data.times[key];
      }
      data.times.reportAnswer = now;
      page.setData(data);
      answer.timings = data.timings;

      pybossa.saveTask(page.task.id, answer).done(function() {
        page.deferred.resolve();
      });

      $("#loading").fadeIn(500);
      if ($("#disqus_thread").is(":visible")) {
        $('#disqus_thread').toggle();
        $('.btn-disqus').toggle();
      }
    };
    Page.prototype.presentTask = function(task, deferred) {
      var page = this;
      page.task = task;
      page.deferred = deferred;

      var data = page.getData();
      var now = (new Date).getTime();
      data.times.presentTask = now;
      page.setData(data);

      if ( !$.isEmptyObject(task) ) {
        $('#task-id').html(task.id);
        page.loadUserProgress();
        page.app.updateMap(task.info);
        $("#loading").hide();
      } else {
        $(".all-done").show();
        $(".skeleton").hide();
        $("#loading").hide();
      }
    };

  </script>
{% endblock %}
