{% extends "base-openlayers/base.html" %}

{% block body %}
  <div class="row">
    <div class="span12">
      {% block steps %}
      {% endblock %}

      <div class="step mapstep">
        {% block testrun_description %}
          <h2>Test run</h2>
          <p><span id="mapcomment"></span></p>
        {% endblock %}

        {% block row %}
          {% include "base-openlayers/row.html" %}
        {% endblock %}

        <span id="maperrors"></span>
      </div>

      <div class="step">
        <h2>On your mark, get set, go!</h2>
        Thank you, you are now ready to begin helping out!
      </div>

      <div class="navigation">
        <a id="prevBtn" href="#" onclick="javascript:void(0);" class="btn">Previous</a>
        <a id="nextBtn" href="#" onclick="javascript:void(0);" class="btn btn-success">Next</a>
        <a id="startContrib" href="../{{short_name}}/newtask" class="btn btn-primary"><i class="icon-thumbs-up"></i> Start helping out</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_styles %}
  .navigation {
   margin-top: 10px;
  }
  .mapcontainer {
    position: relative;
  }
  .taskmanager {
    position: absolute;
  }
  #map {
    position: relative;
    width: 100%;
    height: 400px;
  }
  #maperrors {
    color: #ff0000;
    font-weight: bold;
  }
  #start {
    display: none;
  }
  .step {
    display: none;
  }
{% endblock %}

{% block page_libraries %}
  <script>
    BaseTutorialPage = Page = function () {
      GenericPage.apply(this, arguments);
      var page = this;

      page.initializedSteps = {};
      page.step = -1;
    };
    Page.prototype = new GenericPage();
    Page.prototype.init = function () {
      GenericPage.prototype.init.apply(this, arguments);
      var page = this;

      page.nrofsteps = $(".step").length;

      page.showStep('next');
      $("#modal").modal('show');

      $(".step").each(function (idx, step) {
        $(step).attr("id", idx)
      });

      $($(".step")[0]).show();

      $("#prevBtn").click(function (ev) { page.showStep('prev'); });
      $("#nextBtn").click(function (ev) { page.showStep('next'); });

      return page;
    };
    Page.prototype.reportAnswer = function () {
      this.showStep('next');
    };
    Page.prototype.setMapTask = function () {
      var page = this;
      page.app.setProgress({
        total: page.initializedSteps[page.step].tasks.length,
        done: page.initializedSteps[page.step].task});
      page.app.updateMap(page.initializedSteps[page.step].tasks[page.initializedSteps[page.step].task]);
      $("#mapcomment").html(page.initializedSteps[page.step].tasks[page.initializedSteps[page.step].task].comment || "");
      $("#maperrors").html("");
    };
    Page.prototype.initializeStep = function() {
      var page = this;
      if (page.initializedSteps[page.step] == undefined) {
        if ($("#" + page.step).hasClass("mapstep")) {
          page.app.loadMap();
          page.initializedSteps[page.step] = {};
          page.initializedSteps[page.step].task = 0;
          page.initializedSteps[page.step].tasks = [
            {% block tasks %}
            {% endblock %}
          ];
          page.app.loadMap();
          page.setMapTask();
        } else {
          page.initializedSteps[page.step] = true;
        }
      }
    }
    Page.prototype.validateMapStep = function() {
      var info = page.initializedSteps[page.step].tasks[page.initializedSteps[page.step].task];
      var answer = page.app.getAnswer();
      if (answer == undefined || answer.type == undefined) {
        page.errs.push("Please use one of the buttons at the bottom of the image to indicate the type of drill pad your see.");
      } else if (answer.type != info.answer) {
        page.errs.push("You selected " + answer.type + " while the correct answer was " + info.answer);
      }

      if (page.errs.length == 0 && page.initializedSteps[page.step].task < page.initializedSteps[page.step].tasks.length - 1) {
        page.initializedSteps[page.step].task++;
        page.setMapTask(page.step);
        page.stayOnStep = true;
      }
    }
    Page.prototype.validateStep = function() {
      var page = this;
      page.errs = [];
      page.stayOnStep = false;
      if ($("#" + page.step).hasClass("mapstep")) {
        page.validateMapStep();
      }
      if (page.stayOnStep) return false;
      $("#maperrors").html(page.errs.join(""));
      return page.errs.length == 0;
    }
    Page.prototype.showStep = function(action) {
      var page = this;
      var oldstep = page.step;

      if (action == 'next') {
        if (!page.validateStep()) return;
        page.step = page.step + 1;
      }
      if (action == 'prev') {
        page.step = page.step - 1;
      }

      $("#" + oldstep).hide();
      $("#prevBtn").toggle(page.step != 0);
      $("#nextBtn").toggle(page.step != page.nrofsteps - 1);
      $("#startContrib").toggle(page.step == page.nrofsteps - 1);
      $("#" + page.step).show();
      page.initializeStep();
    }
  </script>
{% endblock %}
