{% block libraries %}
  {% block base_libraries %}
    <script>
      app_short_name = '{{short_name}}';
    </script>

<!--
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */

      /* * * DON'T EDIT BELOW THIS LINE * * */
      function loadDisqus() {
        $("#disqus_thread").toggle();
        $(".btn-disqus").toggle();
      }

      $(document).ready(function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://drillpad.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      });
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script src="/app/{{short_name}}/static/js/async.js"></script>
    <script>
      {% include "base/maphandler.js" %}
    </script>    
  {% endblock %}
  {% block page_libraries %}

  {% endblock %}
  <script>
    $(document).ready(function () {
      new App().init(function(err, app) {
        new Page().init(app, function (err, ppage) {
          // Set global variable - mostly for easy debugging
          page = ppage;
        });
      })
    });
  </script>
{% endblock %}

<style>
  {% block styles %}
    {% block base_styles %}
      {% include "base/base.css" %}
    {% endblock %}
    {% block page_styles %}

    {% endblock %}
  {% endblock %}
</style>

<div class="js-templates">
  {% block js-templates %}{% endblock %}
</div>

{% block body %}

{% endblock %}
