{% extends "base/base.html" %}

{% block page_styles %}
  {% include "base/tutorial.css" %}
{% endblock %}

{% block page_libraries %}
  <script>
    var maptasks = [
      {% block tasks %}
      {% endblock %}
    ];
    {% include "base/tutorial.js" %}
  </script>    
{% endblock %}

{% block body %}
  <div class="row">
    <div class="span12">
      {% block steps %}
      {% endblock %}

      <div class="step mapstep">
        {% block testrun_description %}
          <h2>Test run</h2>
          <p><span id="mapcomment"></span></p>
        {% endblock %}

        <div class="mapbubble left">
          <div class="popover left">
            <div class="arrow"></div>
            <h3 class="popover-title">Moving around</h3>
            <div class="popover-content">
              <p>You can use the mouse wheel and the + and - keys to zoom, as well as click/drag and arrow keys to pan the map.</p>
            </div>
          </div>
        </div>

        <div class="mapbubble maperrors">
          <div class="popover right">
            <div class="arrow"></div>
            <div class="popover-content">
            </div>
          </div>
        </div>

        <div class="mapbubble mapbubble-tutorial">
          <div class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content">
              <p>You can revisit the tutorial at any time.</p>
            </div>
          </div>
        </div>

        <div class="mapbubble mapbubble-undo">
          <div class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content">
              <p>Oops! Click one of these buttons to start over or undo the last click.</p>
            </div>
          </div>
        </div>

        <div class="mapbubble mapbubble-notapadd">
          <div class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content">
              <p>Don’t see a pad, or just don’t know what that is? Click one of these buttons.</p>
            </div>
          </div>
        </div>

        <div class="mapbubble mapbubble-submit">
          <div class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content">
              <p>Click to trace the pad, double-click to finish. Then click here to submit and go on to the next task.</p>
            </div>
          </div>
        </div>


        {% block row %}
          {% include "base/row.html" %}
        {% endblock %}
      </div>

      <div class="step">
        <h2>TUTORIAL - COMPLETE!</h2>
        That's all there is to it! Now click below to start FrackFinding!
      </div>

      <div class="navigation">
        <a id="prevBtn" href="#" onclick="javascript:void(0);" class="btn">Previous</a>
        <a id="nextBtn" href="#" onclick="javascript:void(0);" class="btn btn-success">Next</a>
        <a id="startContrib" href="../{{short_name}}/newtask" class="btn btn-primary"><i class="icon-thumbs-up"></i> Start helping out</a>
      </div>
    </div>
  </div>
{% endblock %}
