.mapbubble {
  position: relative;
}
.mapbubble.left {
  left: -160px;
}
.mapbubble.maperrors {
  left: 934px;
  color: #ff0000;
  font-weight: bold;
  display: none;
}
.mapbubble.maperrors .popover {
  border-color: #ff0000;
}
.mapbubble.maperrors .popover .arrow:after {
  border-right-color: #ff0000;
}
.mapbubble.right {
  left: 934px;
  top: 306px;
}
.mapbubble-tutorial {
  top: 396px;
  left: 160px;
}
.mapbubble-undo {
  top: 396px;
  left: 445px;
}
.mapbubble-notapadd {
  top: 396px;
  left: 642px;
}
.mapbubble-submit {
  top: 396px;
  left: 810px;
}
.mapbubble .popover {
  display: block;
  width: 150px;
}
.navigation {
 margin-top: 10px;
}
.mapcontainer {
  position: relative;
}
#map {
  position: relative;
  width: 100%;
  height: 400px;
}
#start {
  display: none;
}
.step {
  display: none;
}
.done-for-now-btn {
  display: none;
}
.loading {
  margin-left: 4pt;
  display: none;
}
#task-info {
  top: 10pt;
}
