{% extends "ranaarvalis/long_description.html" %}

{% block description %}
  <p>
  <h2>About the Project</h2>
  <p>
  FrackFinder is a crowdsourced <a href="http://skytruth.org/issues/skytruthing/" target="_blank">skytruthing</a> project to find, map and track drilling and fracking across the United States. 
  <p>Crowdsourcing helps us create brand new data on fracking while providing contributors (that's you!) a new perspective on the issues through participating in the mapping process.</p>
  <p>
  <p></p>
{% endblock %}
