{% extends "ranaarvalis/tutorial.html" %}

{% block page_styles %}
  {{block.super}}
  .brand img {
    display: none;
  }
  .navbar .brand {
    padding: 0;
    margin: 20px 20px 0 0;
    display: block;
    background: url('http://frack.skytruth.org/_/rsrc/1383772168979/frackfinder/logolandscape.cropped.jpg?height=50&width=320');
    width: 105px;
    height: 50px;
  }
{% endblock %}

{% block steps %}
  <div class="step">
    <h2>FrackFinder PA - Project Moor Frog:</h2>

    <p><a href="http://skytruth.org">SkyTruth</a> needs your help to locate ponds that might be associated with drilling and fracking in Pennsylvania.</p>

    <p>We're going to show you aerial imagery of Marcellus Shale wellpads across Pennsylvania. Your mission (should you choose to accept it) is to mark the center of all the ponds you see around these wellpads.</p>

    <p><b>First, let's show you what you are looking for...</b></p>
  </div>

  <div class="step">
    <h2>Drilling ponds (Mark ponds that look like these)</h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Drilling.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Drilling.Pond.2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Drilling.Pond.2.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>Dry drilling ponds (Mark ponds that look like these)</h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Dry.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Dry.Pond.2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Dry.Pond.3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>Odd examples of drilling ponds (Mark ponds that look like these)</h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Odd.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Odd.Pond.2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Odd.Pond.3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>

  <div class="step">
    <h2>Natural/Farm ponds (Mark these as well) </h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Natural.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Natural.Pond.2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Natural.Pond.3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>


  <div class="step">
    <h2>These are NOT ponds. Don't mark things that look like these.(Note: Steep slopes and tall trees create dark shadows)</h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Not.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Not.Pond.2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Not.Pond.3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>To review: Mark everything that looks like these. </h2>
    <div class="row">
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Drilling.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Dry.Pond.1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/examples/Odd.Pond.1.jpg" class="img-polaroid">
      </div>
    </div>
  </div>

  <div class="step">
    <h2>How to select ponds</h2>
    <p>Click on all ponds you see within the red rectangle. They will get marked with a red "X". Click "Done" once you have marked them all, or if you can't see any. You can zoom and pan the map to see more details.</p>
    <p>Click again on the same spot to remove a marker you accidentally placed in the wrong place.</p>
    <img src="http://crowd.skytruth.org/appstatic/ranaarvalis/screenshots/screenshot-basic.png" class="img-polaroid">
  </div>
{% endblock %}

{% block testrun_description %}
  <h2>Test run</h2>
  <p>Please try to mark ponds you see below. <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "ranaarvalis/row.html" %}
{% endblock %}

{% block tasks %}
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -76.969928, "county": "Tioga", "state": "PA", "SiteID": "9745ac0d-a851-5a86-b094-022cb3774255", "bbox": "-76.9771331235,41.6672118494,-76.9627228765,41.6780161455", "year": "2010", "latitude": 41.672614, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions":[{"lon":-76.971196358494,"lat":41.670834091787}], "distance": 100},
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -77.121018, "county": "Tioga", "state": "PA", "SiteID": "b90bfd9f-2755-5049-aafc-01b83a68276b", "bbox": "-77.1282254104,41.6877088688,-77.1138105896,41.6985131261", "year": "2010", "latitude": 41.693111, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions":[{"lon":-77.119634763931,"lat":41.694328356627}], "distance": 100},
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -77.145002, "county": "Tioga", "state": "PA", "SiteID": "277ad7c2-1890-5ce9-a924-d5425ce42d79", "bbox": "-77.1522186994,41.7707459471,-77.1377853006,41.7815500478", "year": "2010", "latitude": 41.776148, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions":[{"lon":-77.145276994811,"lat":41.776827725659}], "distance": 100},
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -77.580592, "county": "Tioga", "state": "PA", "SiteID": "85547453-a86e-57a5-8b14-ccac8b61365b", "bbox": "-77.5877979163,41.6743198561,-77.5733860837,41.6851241388", "year": "2010", "latitude": 41.679722, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions":[{"lon":-77.580345462516,"lat":41.680579217363}], "distance": 100, "comment": "This one is quite small and nearly empty"},
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -77.548494, "county": "Tioga", "state": "PA", "SiteID": "0bc3885b-17af-5063-a689-47155a02674f", "bbox": "-77.5557020853,41.6937538745,-77.5412859147,41.7045581204", "year": "2010", "latitude": 41.699156, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions":[{"lon":-77.547427345881,"lat":41.699269488817}], "distance": 100, "comment": "This one is quite small and nearly empty"},
  {"url": "https://mapsengine.google.com/06136759344167181854-15360160187865123339-4/wms/", "longitude": -76.984005, "county": "Tioga", "state": "PA", "SiteID": "3bd729db-68f7-5641-a536-f9b19d2dcb78", "bbox": "-76.9912273246,41.8208609944,-76.9767826754,41.8316650005", "year": "2010", "latitude": 41.826263, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "positions": [{"lon":-76.981433898602,"lat":41.826423372106},{"lon":-76.984143219258,"lat":41.825593571554},{"lon":-76.98426242717,"lat":41.825080977531},{"lon":-76.977646388039,"lat":41.825629333928}], "distance": 100}
{% endblock %}
