{% extends "categorizer/long_description.html" %}

{% block description %}
  <p>
  <p>FrackFinder PA - Tadpole 2013: This FrackFinder project combines drilling permit data from the Pennsylvania Dept. of Environmental Protection and aerial survey imagery flown by the USDA just last summer. All we need you to do is tell us if you see evidence of drilling activity at each site we show you. You would think that information already exists, but because of data backlogs and that a site may be cleared for drilling long before they start fracking, we need your help to find the truth.</p>
  <p>Click “Start Contributing Now” to see the tutorial and learn what you are looking for, and for more information on this and other FrackFinder projects <a href="http://frack.skytruth.org/frackfinder" target="_blank">click here...</a></p>
{% endblock %}
