{% extends "categorizer/row.html" %}

{% block answers %}
   <!-- button class="btn btn-success btn-answer" value="grass">Grass</button>
   <button class="btn btn-answer" value="gravel">Gravel</button>
   <button class="btn btn-inverse btn-answer" value="drillrigg">Drill rigg</button>
   <button class="btn btn-info btn-answer" value="fracktank">Frack tank</button>
   <button class="btn btn-danger btn-answer" value="none">No pad visible</button -->
   <button class="btn btn-answer btn-answer" value="nopad">No pad visible</button>
   <button class="btn btn-success btn-answer" value="barepad">Bare pad</button>
   <button class="btn btn-danger btn-answer" value="equipment">Pad with equipment</button>
   <button class="btn btn-inverse btn-answer" value="unknown">Don't Know</button>
{% endblock %}
