{% extends "categorizer/tutorial.html" %}

{% block page_styles %}
  {{block.super}}
  {% include "categorizer-pad/tutorial.css" %}
{% endblock %}

{% block steps %}

   <div class="step">
     <h2>TUTORIAL - Finding Well Pads</h2>

     <p><strong>Hi!</strong> This tutorial will teach you how to help <a href="http://skytruth.org" target="_blank">SkyTruth</a> analyze sites where drilling and fracking is permitted or has already happened.</p>
     
     <p>The application is really simple. It loads a map with aerial imagery and asks you to select a category that best describes what you see in the image.</p>
     
     <p> No thanks, I've already passed the tutorial. <a  href="/app/{{short_name}}/newtask">I'm ready to start.</a></p>
   </div>



  <div class="step">
    <h2>TUTORIAL - No Pad Visible</h2>
    <p>This is a site where a drilling permit has been issued, but there is no well pad and drilling hasn't happened yet.  Sometimes you may see an empty clearing in the forest, but if you don't see an access road and a big, flat gravel parking lot, then it is not a well pad. Yet.</p>
    <p>For images like this, please indicate that there is <button class="btn btn-success btn-small">No Pad</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-1.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-2.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-3.png" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>TUTORIAL - Well Pad (Part I)</h2>
    <p>A well pad is a site that has been cleared, leveled-off, and covered in gravel to allow drilling and fracking to occur. Most well pads you will see will be roughly rectangular and appear close to the center of the image, have a visible access road and be and partially or completely clear of vegetation.</p>
    <p>For images like this, mark it as a <button class="btn btn-inverse btn-small">Well Pad</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-1.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-2.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-3.png" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>TUTORIAL - Well Pad (Part II)</h2>
    <p>Sometimes you get lucky and find a wellpad right in the middle of a drilling or fracking operation. There will be trucks and equipment everywhere, so just imagine living next to all that noise, dust, and traffic for weeks at a time. But for the purpose of our study, these sites are simply "well pads," just like the empty ones.</p>
    <p>For images like these, mark <button class="btn btn-inverse btn-small">Well Pad</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-1.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-2.png" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-3.png" class="img-polaroid">
      </div>
    </div>
  </div>


{% endblock %}
   
{% block testrun_description %}
  <h2>TUTORIAL - Practice run</h2>
  <p>Select the option that best describes the site contained in the circle.<br/>If we show you a task with a well pad that isn't anywhere near the center or just looks really weird, just mark the site "Not Sure". <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "categorizer-pad/row.html" %}
{% endblock %}

{% block tasks %}
  {"url": "https://mapsengine.google.com/06136759344167181854-11845109403981099587-4/wms/", "longitude": -80.95915, "county": "Carroll", "state": "OH", "siteID": "0", "year": 2010, "latitude": 40.71615, "options": {"layers": "06136759344167181854-04770958895915995837-4", "version": "1.3.0"}, "size": 200, "answer": "nopad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-11845109403981099587-4/wms/", "longitude": -80.95915, "county": "Carroll", "state": "OH", "siteID": "0", "year": 2011, "latitude": 40.71615, "options": {"layers": "06136759344167181854-08224624193234342065-4", "version": "1.3.0"}, "size": 200, "answer": "pad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-11845109403981099587-4/wms/", "longitude": -80.89539, "county": "Carroll", "state": "OH", "siteID": "0", "year": 2013, "latitude": 40.62775, "options": {"layers": "06136759344167181854-11275828430006462017-4", "version": "1.3.0"}, "size": 200, "answer": "pad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-11845109403981099587-4/wms/", "longitude": -80.99545, "county": "Carroll", "state": "OH", "siteID": "0", "year": 2010, "latitude": 40.71907, "options": {"layers": "06136759344167181854-04770958895915995837-4", "version": "1.3.0"}, "size": 200, "answer": "nopad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-11845109403981099587-4/wms/", "longitude": -80.99545, "county": "Carroll", "state": "OH", "siteID": "0", "year": 2013, "latitude": 40.71907, "options": {"layers": "06136759344167181854-11275828430006462017-4", "version": "1.3.0"}, "size": 200, "answer": "pad"},

{% endblock %}
