{% extends "categorizer/tutorial.html" %}

{% block page_styles %}
  {{block.super}}
  {% include "categorizer-pad/tutorial.css" %}
{% endblock %}

{% block steps %}
   <div class="step">
     <h2>Drill pad identification</h2>
     <p><strong>Hi!</strong> This is an application to help <a href="http://skytruth.org">SkyTruth</a> classify images of sites where drilling and fracking has occured or will occur in the future.</p>
     <p>The application is really simple. It loads a map with aerial imagery and asks you to select a category that best describes what you see in the image.</p>
   </div>



  <div class="step">
    <h2>No Pad Visible</h2>
    <p>This is a site where a drilling permit has been issued but no preparation for drilling has taken place yet.  Sometimes you may see a clearing in the forest which might look like a drilling area, but if you don't see an access road, then it is not a drill pad. Also, if the cleared area is not close to the center of the image, then it does not count either.</p>
    <p>For images like this, please indicate that there is <button class="btn btn-inverse btn-small">No pad visible</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/no-pad-visible-3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>Bare Pad</h2>
    <p>This is a site where a well pad has been prepared for drilling, but there was no drilling equipment on site at the time the image was captured. A bare pad will be roughly rectangular and appear close to the center of the image, with an access road visible and partially or completely clear of vegetation. Usually they are covered in bare dirt or gravel. You may also see an artificial water storage pond.</p>
    <p>For images like this, mark it as a <button class="btn btn-inverse btn-small">Bare pad</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/bare-pad-3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>
  
  <div class="step">
    <h2>Pad with Equipment</h2>
    <p>This is a site where drilling equipment is present, indicating that drilling activity was taking place at the time the image was captured. For our purposes, &quot;Equipment&quot; means more than just a few trucks parked on the pad - we're looking for many trucks and other large equipment.   If you're not sure how much equipment is enough, then just make your best guess and move on.</p>
    <p>For images like these, mark <button class="btn btn-success btn-small">Equipment</button></p>
    <div class="row">
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-1.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-2.jpg" class="img-polaroid">
      </div>
      <div class="span4">
        <img src="/app/{{short_name}}/static/img/examples/pad-equipment-3.jpg" class="img-polaroid">
      </div>
    </div>
  </div>


{% endblock %}
   
{% block testrun_description %}
  <h2>Test run</h2>
  <p>Please try to categorize any drilling pads you see below. <span id="mapcomment"></span></p>
{% endblock %}

{% block row %}
  {% include "categorizer-pad/row.html" %}
{% endblock %}

{% block tasks %}
  {"url": "https://mapsengine.google.com/06136759344167181854-06191489742681286724-4/wms/", "longitude": -76.9252, "county": "Tioga", "state": "PA", "siteID": "def69ddd-d528-53f3-aa69-60ee4e4fe1a8", "year": 2010, "latitude": 41.9063, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "size": 200, "answer": "barepad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-06191489742681286724-4/wms/", "longitude": -77.2906, "county": "Tioga", "state": "PA", "siteID": "f0137364-26ef-5ff7-960d-69f92d7b45cc", "year": 2010, "latitude": 41.6453, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "size": 200, "answer": "nopad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-06191489742681286724-4/wms/", "longitude": -77.1201, "county": "Tioga", "state": "PA", "siteID": "cf151868-e99b-5b54-849c-fcf59a354462", "year": 2010, "latitude": 41.6894, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "size": 200, "answer": "barepad"},
  {"url": "https://mapsengine.google.com/06136759344167181854-00219351362547715467-4/wms/", "longitude": -77.4097, "county": "Tioga", "state": "PA", "siteID": "f258d929-b41b-53f7-8f53-8b3f2524e255", "year": 2008, "latitude": 41.7708, "options": {"layers": "06136759344167181854-03760408159960746743-4", "version": "1.3.0"}, "size": 200, "answer": "unknown"},
  {"url": "https://mapsengine.google.com/06136759344167181854-06191489742681286724-4/wms/", "longitude": -77.5275, "county": "Tioga", "state": "PA", "siteID": "a14c83a0-0986-552a-bc33-8520d640871e", "year": 2010, "latitude": 41.6886, "options": {"layers": "06136759344167181854-16779344390631852423-4", "version": "1.3.0"}, "size": 200, "answer": "equipment"},
  {"url": "https://mapsengine.google.com/06136759344167181854-00219351362547715467-4/wms/", "longitude": -76.332, "county": "Columbia", "state": "PA", "siteID": "c5ee0173-5c21-5932-9f33-af891bf2c0e0", "year": 2008, "latitude": 41.2842, "options": {"layers": "06136759344167181854-01260649250125878906-4", "version": "1.3.0"}, "size": 200, "answer": "nopad"}
{% endblock %}
